* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: #777;
  height: 200px;
  margin-bottom: 80px;
}

main {
  justify-content: center;
}

.hidden {
  display: none;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  text-align: center;
  padding-top: 35px;
  font-size: 48px;
}

.edition {
  font-size: 32px;
  color: aqua;
}

.btn {
  display: inline-block;
  border: none;
  background-color: aqua;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 5px 10px #8888887e;
}

.btn:hover {
  /* transform: translateY(-4px); */
}

.btn:active {
  box-shadow: 3px 6px #666;
  transform: translateY(4px);
}

.test {
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 20px;
  /* position: relative; */
  transform: translate(50%, 50%) rotate(-90deg);
  position: absolute;
  left: -660px;
  top: 270px;
}

.board {
  display: grid;

  width: 600px;
  height: 600px;
  /* grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); */
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 20px solid #777;
  box-shadow: 10px 10px #8888887e;
}

#number {
  background-color: aqua;
  height: 30px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  transform: rotate(90deg);
}

#number:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;

  border-bottom: 10px solid aqua;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -9px;
}

input[type="range"][orient="vertical"] {
  display: inline-block;
  /* writing-mode: bt-lr; */
  -webkit-appearance: none;
  background-color: #777;
  /* width: 10px; */
  width: 450px;
  border-radius: 5px;
  /* height: 450px; */
  height: 5px;
  padding: 0 5px;
  /* position: absolute; */
  left: 160px;

  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: aqua;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.box {
  border: 2px solid rgba(191, 191, 191, 0.05);
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  margin-bottom: 70px;
}

footer {
  background-color: rgb(77, 77, 77);
  height: 80px;
  text-align: center;
}

footer p {
  padding-top: 30px;
  color: aqua;
}
